// PRINT STYLESHEET COMPILER

// STYLEGUIDE
// Mixins to be shared across gov.uk sites. Anything set in these
// files can be used in the view files.

$is-print: true;
@import "common/_typography.scss";
@import "common/_templates.scss";

// OUTPUT
// The following files and inline CSS will form the output of print.css

html {
  font-size: 62.5%;
}

.section-title .title-index {
  height: auto;
  background: transparent;
  text-decoration: none;
}
.title-index,
.section-subtitle .index {
  display: inline-block;
  padding-right: 0.5em;
}
.container {
  margin: 0 2em;
  color: #000;
}
.header{
  padding-left: 0;
}
.document-title .title h2 {
margin-left: 0;
}
#markdown-toc li ul{
  display: none;
}
.case-study img{
  display: none;
}
.footer{
  border: 0 solid;
  background-color: transparent;
  .copyright{
    display: none;
  }
}
table{
  width: 100%;
}
img{ max-width: 100%; }

@page { margin: 1cm; }
@page {
  @bottom-right {
    content: counter(page) " of " counter(pages);
  }
}
h2 {
  page-break-before: always;
}


// LINKS
a:link,
a:visited{
  text-decoration: none;
  color: #000;
}
p a:after { content: " (" attr(href) ")";}
a[href^="http://"]:after, a[href^="https://"]:after { content: " (" attr(href) ")";}
p a:after { content: " (http://www.publications.cabinetoffice.gov.uk" attr(href) ")"; }
p a[href^="#"]:after { display: none; }
p a { word-wrap: break-word; }
p a{ color: blue;}

// Suppress URLs from page header
.case-study p:first-child a:after,
.header a:after{content: "";};

// ORPHANS AND WIDOWS
p, h2, h3 { orphans: 3; widows: 3; } 

// HIDE THESE ELEMENTS
.collection-link,
.cookie-link,
.title-index .title-text,
#contents{
  display: none;
}
.section {
  .figure-permalink,
  .pull,
  .big-pull { 
    display: none;
  }
}

// TITLE
.title{
  margin-bottom: 2em;
}

