// -------------------------------------------------------------------------
// PRINT STYLESHEET
//

$is-print: true;

// -------------------------------------------------------------------------
// BASIC TYPOGRAPHIC AND TEMPLATE STYLES
//

@import "partials/common";

// -------------------------------------------------------------------------
// HEADERS AND FOOTERS
//

.header{
  padding-left: 0;
}
.title{
  margin-bottom: 2em;
}
.document-title .title h2 {
  margin-left: 0;
}
#markdown-toc{
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  li {
    ul{
      display: none;
    }
  }
}
.section-title .title-index {
  height: auto;
  background: transparent;
  text-decoration: none;
}
.title-index,
.section-subtitle .index {
  display: inline-block;
  padding-right: 0.5em;
}

.footer{
  border: 0 solid;
  background-color: transparent;
  .copyright{
    display: none;
  }
} 
// Page margins
@page { margin: 3cm 3cm 3.2cm 3cm; }

// Page numbers
@page {
  @bottom-right {
    content: counter(page) " of " counter(pages);
  }
}
// Add page numbers to the table of contents
#markdown-toc a::after {
  content: leader('.') target-counter(attr(href), page);
} 

// Print page headers
#contents {
  page: blank;
}
@page :left {
  @top-left {
    content: "Cabinet Office";
  }
}
@page blank :left {
  @top-left {
    content: normal;
  }
}
@page :right {
  @top-right {
    content: string(header, first); 
  }
}

// -------------------------------------------------------------------------
// CONTENT
//

html {
  font-size: 62.5%;
}
.container {
  margin: 0 2em;
  color: #000;
}
table{
  width: 100%;
}
img{ max-width: 100%; }
// Start sections on a new page
h2 {
  string-set: header content();
  page-break-before: always;
  margin-bottom: 1cm;
}
h1, h2{
  color: $blue;
  font-size: 36pt;
}
// Orphans and widows
p, h2, h3 { orphans: 3; widows: 3; } 

// Links
a:link,
a:visited{
  text-decoration: none;
  color: #000;
}
p a:after { content: " (" attr(href) ")";}
a[href^="http://"]:after, a[href^="https://"]:after { content: " (" attr(href) ")";}
p a:after { content: " (http://www.publications.cabinetoffice.gov.uk" attr(href) ")"; }
p a[href^="#"]:after { display: none; }
p a { word-wrap: break-word; }
p a{ color: blue;}

// Suppress URLs from page header
.case-study p:first-child a:after,
.header a:after{content: "";};

// Hide these elements from print
.collection-link,
.cookie-link,
.title-index .title-text,
.case-study img,
#contents,
.meta {
  display: none;
}
.section {
  .figure-permalink,
  .pull,
  .big-pull { 
    display: none;
  }
}

.mc-chart { font-size: 13px;}
.mc-chart .mc-td, td {
  page-break-inside: avoid;
}
  .mc-chart .mc-td.mc-key-cell {
    width: 30%;
  }

  .page-break {
    display: block;
    page-break-before: always; 
  }
