// --------------------------------------------------------------------------------
// GOVERNMENT DIGITAL STRATEGY
// Style for supporting pages

// MIXINS

@import "partials/css3";                   // Vendor prefixes
@import 'partials/conditionals';           // Media queries  
@import 'partials/shims';                  // Shims   
@import 'partials/regular-grid';           // Regular grid              
@import "partials/common";                 // Global template styles  
@import "partials/organisations";                 // 

// DEFAULTS

$left-margin: 240px + 65px;                // Left margin of the page
$section-index-width: $left-margin - 70;   // Width of the section indexes
$content-width: 80%;                       // Width of the main content area
$colour-scheme: $blue;               			 // Sets primary colour for document



// --------------------------------------------------------------------------------
// PAGE HEADERS
//

.home-header,
.action-header,
.case-study-header{
  overflow: hidden;
  *zoom: 1;  
  .content-wrapper{
    float: left;
    width: 100%;
    color: #fff;
    padding: 35px 0;
    @include gradient($blue, #52BBD9);
    h1{
      color: #fff;
      font-weight: 300;
    }
    .title{
      margin-left: $margin;
      
      @include media(mobile){
        margin-left: $margin / 2;
        padding-right: 25px;
      }
      @include media(tablet){
        width: 500px;
      }
      @include media(desktop){
        width: 840px;
      }
    }
  }

}

// --------------------------------------------------------------------------------
// ACTION PAGE HEADER
//

.logo-wrapper,
.prev-link,
.next-link{
  margin-top: 77px;
  a{
    width: $base-unit;
    &:hover span{
      border-width: 8px;
    }
  }
  .arrow-prev,
  .arrow-next{
    display: inline-block;
    border-color: #fff;
  }
}
.logo-wrapper,
.prev-link{
float: left;
width: 3 * $base-unit;
margin-left: -100%;
}
.prev-link{
  a{
    margin-left: $base-unit / 2;
  }
}
.next-link{
float: left;
width: $base-unit;
margin-left: -3 * $base-unit;
}

.action-footer{
  //border-top: 5px solid $blue;
  width: 90%;
  padding: 50px 0 100px 0;
  .prev-link,
  .next-link{
    margin: 0;
    a{
      display: block;
      width: 3 * $base-unit;
    }
    span{
      border-color: $blue;
    }
    span, p{
      display: inline-block;
      vertical-align: middle;
      text-decoration: none;
    }
  }
  .prev-link{
    float: left;
    margin-left: $base-unit;
    a{
      margin-left: 25px;
    }
  }
  .next-link{
    float: right;
  }
}





// --------------------------------------------------------------------------------
// HOME PAGE HEADER
//

.home-header{
  .title{
    h2{
      @include heading-36;
    }
    p{
      font-size: 30px;
      span{
        font-size: 88px;
        display: block;
      }
    }
  }
}

// --------------------------------------------------------------------------------
// CASE STUDY PAGE HEADER
//

.case-study-header,
.action-header{
  .title{
    margin: 0 0 0 $margin;
    h1, 
    p{
      vertical-align: top;
      margin-top: 0;
      line-height: 60px;
      font-size: 36px;
      font-size: 3.6rem;
      // The word 'action'
      span{
        display: block;
        text-transform: uppercase;
        font-size: 23px;
      }
      // The number
      display: inline-block;
      padding: 0;
      
      @include ie(7) {
        display: inline;
        zoom: 1;
      }
    }
    h1{
      width: 4 * $base-unit;
    }
    p{    
      width: 70%;
    }
  }
}

.action-header .content-wrapper .title p{
  @include core-19;
  margin-top: 10px;
}

// --------------------------------------------------------------------------------
// SECTIONS
//

.section{
  margin: $margin 0;
  margin-right: 25px;
  max-width: 980px;
  @include media(desktop){
    width: $content-width;
  }
  @include ie(6) {
    margin-left: $margin;
  }
  >h2, 
  >h3,
  >h4,
  >h5, 
  >p, 
  >ol, 
  >ul,
  >img,
  >blockquote,
  >.strategy,
  >.action,
  >.documents,
  >.departments{
    @include media(mobile){
      margin-left: $margin / 2; 
    }
    @include media(tablet){
      margin-left: $margin / 2; 
    }
    @include media(desktop){
      margin-left: $margin; 
    }
  } 
}

.case-study-page,
.action-page {
  .content-wrapper{
    margin-bottom: 0;
  }
  .section{
    margin-top: 0;
    >h2, 
    >h3,
    >h4,
    >h5,
    >p, 
    >ol, 
    >ul,
    >img,
    >blockquote,
    >.video,
    >.case-study,
    >.tweet,
    >.horizontal-bar-chart{
      @include left-margin;
    }
    >.pull {
      margin-left: $base-unit;
      @include ie(7) {
        margin-left: 0;
      }
    }
    >.section-title{
      margin-left: 0;
      .title-index,
      .title-text{
        font-size: 34px;
      }
    }
  }
}

.action-page{
  .title h1{
    margin-left: 200px;
    font-size: 46px;
  }
  .department{
    margin-left: $base-unit;
    margin-top: $base-unit;
    @extend %contain-floats;
    h2{
      width: 200px;
      float: left;
      margin-top: 10px;
    }
    .statement{
      float: left;
      width: 78%;
    }
  }
}

// ---------------------------------------------------------
// FOREWARD

.foreword{
  background-color: lighten($light-grey, 15%);
  margin-bottom: 25px;
  img{
    display: none;
    width: 5 * $base-unit;
    margin: 0 0 15px 0;
  }
  p{
    margin: 0 20px 10px 20px;
  }
  @include media(desktop){
    margin-left: $margin / 2;
    width: 5 * $base-unit;
    float: right;
    img {
      display: block;
    }
  }
  @include ie(6) {
    margin-left: $margin / 2;
    width: 5 * $base-unit;
    float: right;
    img {
      display: block;
    }
  }
}


// Action titles
.action {
  h2{
    font-weight: 300;
    width: 3 * $base-unit;
    // The word 'action'
    span{
      font-weight: 300;
      display: block;
      text-transform: uppercase;
      font-size: 23px;
      margin-top: 29px;
    }
    // The number
    width: 147px;
    margin-left: 2 * $base-unit;
    margin-right: $base-unit;
    padding: 0;
    text-align: center;
  }
  // The action text
  .action-text{
    font-size: 30px;
    width: 48%;
    @include inline-block;
  }
}

.actions .action,
.documents .document{
  display: block;
  background-color: lighten($light-grey, 15%);
  text-decoration: none;
  // Hover state
  
  &:hover{
    background-color: lighten($light-grey, 10%);
    .text{
      color: $black;
    }
  }
}
  
.actions .action{
  @include media(mobile){
    margin-bottom: $margin / 2;
    padding: 25px;
  }
  @include media(tablet){
    margin-bottom: $margin / 2;
    padding: 25px;
  }
  @include media(desktop){
    margin-bottom: $margin;
    padding: 0;
  }
  h2,
  .text{
    @include inline-block;
    vertical-align: middle;
  }
  h2{
    display: none;
    @include media(desktop){
      @include inline-block;
    }
    padding: 20px 0;
    margin-left: 0;
    margin-right: $base-unit;
    @include gradient($blue, #52BBD9);
    color: white;
    span{
      margin-top: 10px;
    }
  }
  .text{
    @include media(desktop){
      width: 60%;
    }
  }
}

// ---------------------------------------------------------
// DOCUMENT PANELS
//

.documents{
  @include media(desktop){
    @include regular-grid(4, 250px);
  }
}

.documents .document{
  margin-top: 25px;
  background-color: lighten($light-grey, 15%);
  text-decoration: none;
  h3{
    font-size: 25px;
  }
  h3, p{
    margin-left: 15px;
    margin-right: 15px;
  }
  // Hover state
  &:hover{
    background-color: lighten($light-grey, 10%);
    .text{
      color: $black;
    }
    .arrow-next{
      border-color: $blue;
    }
  }
}

// ---------------------------------------------------------
// CASE STUDY PAGE STYLES
//

.aside{
  float: left;
  width: 4 * $base-unit;
  margin-left: 2 * $base-unit;
}

.tweet{
  margin-top: 25px;
  margin-bottom: 25px;
}

// MEDIA PLAYER

$large-player-width:  730px;
$medium-player-width: 640px;
$small-player-width:  426px;
$aspect-ratio: 0.56;

.media-player{
  @include left-margin;
  @include media(mobile){
    width: $small-player-width;
  }   
  @include media(tablet){ 
    width: $medium-player-width;
  }
  @include media(desktop){
    width: $large-player-width;
  }
  .media-player-wrapper{
    margin: 0;
    .player-container{
      .video{  
        @include media(mobile){
          width: $small-player-width;
          height: $aspect-ratio * $small-player-width;
        }  
        @include media(tablet){ 
          width: $medium-player-width;
          height: $aspect-ratio * $medium-player-width;
        }
        @include media(desktop){
          width: $large-player-width;
          height: $aspect-ratio * $large-player-width;
        }
      }
    }
  }
}
.home-page .media-player{
  margin-left: $base-unit;
}


.profile{
  font-size: 18px;
  border: 1px solid $light-grey;
  padding: 10px;
  padding-right: 150px;
  overflow: hidden;
  *zoom: 1;
  margin: 25px 0 0 0;
  @include left-margin;
  img{
    width: 150px;
    margin: -11px;
    margin-right: 15px;
    float: left;
  }

}

.case-study-page .section a{
  img{
    //border: 1px solid $light-grey;
    //margin-top: 25px;
    //margin-bottom: 25px;
  }
  &:hover img{
    border-color: $blue;
  }
}


// --------------------------------------------
// ARROWS
//

.arrow-next,
.arrow-prev{
  height: 50px;
  width: 50px;
  -moz-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5); /*for IE*/
}
.arrow-next{
  border-top: 5px solid $light-grey;
  border-right: 5px solid $light-grey;
}
.arrow-prev{
  border-bottom: 5px solid $light-grey;
  border-left: 5px solid $light-grey;
}



// ---------------------------------------------------------
// ACTION PAGE STYLES


// PREV / NEXT BUTTONS

.prev-next{
  border-top: 5px solid $blue;
  margin-left: $base-unit;
  .previous-action,
  .next-action{
    //background-color: #ebebeb;
    display: inline-block;
    width: 50%;
    font-size: 2.4rem;
    a{
      padding: 35px;
      display: inline-block;
    }
  }
  .previous-action{
    &:before{
      content: "<";
    }
  }
  .next-action{
    text-align: right;
    &:after{
      content: ">";
    }
  }
}

// ---------------------------------------------------------
// DEPARTMENTS LIST


.departments {
  @include media(desktop){
    @include regular-grid(2);
    margin-top: 25px;
  }
  ul{
    list-style-type: none;
    padding: 0;
  }
  li{
    font-size: 16px;
  }
}

.read-strategies{
  margin-top: 25px;
}

.action-page .section h3{
  margin-left: 50px;
  font-size: 16px;
  width: 200px;
  position: absolute;
}

