<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8 " lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]--><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Government Digital Strategy</title>
    {include _favicon.html}
<!--[if gt IE 8]><!--><link href="/assets/css/strategy-site.css" rel="stylesheet" type="text/css" media="screen">
<!--<![endif]--><!--[if IE 6]><link href="/assets/css/strategy-site-ie6.css" rel="stylesheet" type="text/css" media="screen"><![endif]--><!--[if IE 7]><link href="/assets/css/strategy-site-ie7.css" rel="stylesheet" type="text/css" media="screen"><![endif]--><!--[if IE 8]><link href="/assets/css/strategy-site-ie8.css" rel="stylesheet" type="text/css" media="screen"><![endif]-->

{include _favicon.html}
    <link href="/assets/css/print.css" rel="stylesheet" type="text/css" media="print">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="home-page">
    <div class="container">
      <div class="header">
        <p class="logo">
          <a href="http://www.cabinetoffice.gov.uk/">
            <img src="/assets/images/rcoa-retina.png" />
            <span class="main-logo cabinet-office">Cabinet Office</span>
          </a>
        </p>
        <p class="cookie-link"><a href="http://www.cabinetoffice.gov.uk/content/privacy-policy">Cookies</a></p>
        <p class="collection-link">Government Digital Strategy</p>
      </div>

<!--REPLACE-->

{include _footer.html}

  </div>
  {include _analytics/digital.html}
</body>
</html>
