
// ------------------------------------------------------------------------------
// TEMPLATE STYLES
//
// Styles used across publications and collection pages

// IMPORTS

@import "yui-reset";                      // Reset base HTML styles
@import "typography";                     // Typographic styles
@import "colours";                        // Cabinet Office colour palette
@import "css3";                           // Vendor prefix helpers
@import "conditionals";                   // Media queries
@import "magna-charta";                // Magna charta

// DEFAULT VALUES

$base-unit: 50px;                         // Base unit
$margin: $base-unit;                      // Margin
$column-width: 5 * $base-unit;            // Left column of page
$section-index-width: 3 * $base-unit;     // Width of section indexes in left column
$content-width: 80%;                      // Width of main content area

// MIXINS

@mixin border($side: "top"){              // Default border effect
  border-#{$side} : 5px solid $black;
}

@mixin left-margin{                       // Responsive left margin
    @include media(mobile){
      margin-left: $base-unit / 2;
    }
    @include media(tablet){
      margin-left: $base-unit;
    }
    @include media(desktop){
      margin-left: $column-width;
    }
}

// CLEARFIX

@mixin clearfix {
  overflow: hidden;
  *zoom: 1;
}

// ------------------------------------------------------------------------------
// TYPOGRAPHY AND CONTENT
//

html{
  font-size: 100%;
}
.container {
  margin: 0 auto;
  font-family:Helmet, Freesans, sans-serif;
  @include core-14;
  color: $text-colour;
}

a{
  &:link    {color: $link; text-decoration: none; text-decoration: underline;}
  &:visited {color: $link-visited;}
  &:hover   {color: $link-hover; cursor: pointer;}
  &:active  {color: $link-active;}
}

a[rel="external"]::after, 
.external-link::after {
content: url(https://assets.digital.cabinet-office.gov.uk/static/external-link-4e6ac7c7239ef7be0c8a40188c9e87ba.png);
margin-right: 0.2em;
margin-left: -0.2em;
}

table{
  width: 75.3%;
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 25px;
  //color: $colour-scheme;
  font-size: 14px;
  th,td {
    padding: 15px;
  }
  td {
    border-bottom: 1px solid $colour-scheme;
  }
  th {
    border-bottom: 3px solid $colour-scheme;
  }
}
blockquote {
  border-left: 5px solid $light-grey;
  padding-left: 10px;
  p{
    font-style: italic;
  }
}
img {
  width: 100%;
  margin: 25px 0;
}
p, li{
  margin: 10px 0;
}
ul{
  list-style-type: disc;
}
ol{
  list-style-type: decimal;
}
ul,
ol {
  padding-left: 20px;
  margin-bottom: 20px;
  li{
    padding-right: 20px;
  }
}
dt {
  font-weight: bold;
}
dd {
  padding-bottom: 20px;
}
h1 {
  @include heading-36;
}
h2 {
  @include heading-27;
}
h3 {
  @include heading-24;
}
h4,
h5,
h6{
  @include copy-19;
  color: $black;
  padding-top: 5px;
}
h1,
h2,
h3{
  font-weight: normal;
  color: $black;
}
strong{
  color: $black;
}
hr {
  display: none;
}

.section {
  // Only show on desktop devices
  .pull,
  .big-pull{
    display: none;
    @include media(desktop){
      display: block;
    }
  }
  
  // Figure captions
  .fig {
    font-size: 16px;
    padding: 10px 100px 10px 0;
    color: $black;
    border-bottom: 1px solid $black;
    .figure-permalink{
      display: block;
      font-size: 14px;
      float: right;
      margin-top: 2px;
      margin-right: -100px;
    }
  }
  // PULL QUOTES
  .pull {
    box-sizing: border-box;
    position: relative;
    z-index: 11;
    float: left;    
    width: 3 * $base-unit;
    margin-left: $margin;
    position: absolute;
    padding-top: 10px;
    background-color: white;
    @include ie(7) {
      float: none;
      left: $margin;
      margin-left: 0;
    }
  }
  // BIG PULL QUOTES
  .big-pull{
    position:relative;
    padding: 0 100px 0 115px;
    margin: 50px 0 50px 0;
    @include left-margin;
    font-size: 48px;
    line-height: 54px;
    font-weight: 500;
    color: $colour-scheme;
    letter-spacing: -0.025em;
    quotes: "\201C" "\201D" "\2018" "\2019";
    &:before{ 
      content: open-quote;
      top: 93px;
      left: -15px;
    }
    &:after{  
      content: close-quote; 
      right: -15px;
      bottom: -65px;
    }
    &:before,
    &:after{
      font-size: 300px;
      color: #d9d9da;
      position: absolute;
    }
  }
  // CASE STUDIES
  .case-study{
    overflow: hidden;
    *zoom: 1;
    background-color: lighten($light-grey, 15%);
    padding: 10px 15px;
    margin-bottom: 25px;
    p{
      margin: 0;
    }
    p:first-child{
      float: right;
      margin: -10px -15px -17px 15px;
    }
    img{
      margin: 0;
      width: 300px;
    }
    h5{
      font-size: 19px;
      font-weight: 500;
    }
  }
  // BORDERS FOR IMAGES
  .with-border{
    img{
      border: 1px solid $light-grey;
      margin-top: 25px;
      margin-bottom: 25px;
    }
    a:hover img{
      border-color: $blue;
    }
  }
   // SECTION TITLES
  .section-title {
    position: relative;
    margin: 50px 0 25px 0;
    padding-top: 0;
    color: $black;
    .title-text,
    .title-index {
      top: 0;
      display: block;
      @include border('top');
      background-color: white;
    }
    .title-text{
      @include media(mobile){ min-height: 60px;}
      @include media(tablet){ min-height: 80px;}
      @include media(desktop){ min-height: 110px;}
      display: block;
      padding: 5px 0;
      @include left-margin;
      @include border('bottom');
    }
    .title-index {
      position: absolute;
      left: 0px;
      float: left;
      height: 300px;
      width: $section-index-width;
      margin-left: $margin;
      padding-bottom: 15px;
      border-bottom: 0 solid;
      @include heading-27;
      font-weight: 400;
      // Duplicated headers in left column
      .title-text{
        position: relative;
        height: 49px;
        width: 100%;
        margin-top: 0;
        margin-left: 0;
        border: 0 solid;
        overflow: hidden;
        color: #8e8e89;
        @include copy-14;
        background-color: transparent;
        opacity: 0;
        @include transition(opacity, 0.2s, ease-in-out);
      }
    }
  }
}

// ------------------------------------------------------------------------------
// PAGE HEADER
//
.header {
  overflow:hidden;
  *zoom: 1;
  position: relative;
  padding: 35px 0 35px $margin;
  @include media(mobile){
    padding-left: 25px;
  }
  .cookie-link{
    position: absolute;
    right: 50px;
    top: 60px;
    font-size: 16px;
    a:link,
    a:visited{
      color: #8E8E89;
    }
  }
  .collection-link{  
    margin-left: 12px;
    @include media(desktop){
      position: absolute;
      margin: 0 25px 35px 200px;
      bottom: 0;
      line-height: 19px;
    }
  }
  .logo {
    border-left: 2px solid $blue;
    padding:0;
    margin:0;
    a{
      color: $black;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
      img{
        width: 39px;
        height: 34px;
        margin: 0 0 0 8px;
      }
      .cabinet-office{
        padding: 0 0 0 10px;
        line-height: 19px;
        margin-top: -3px;
        display:block;
        color: $black;
        @include ie(6) {
          zoom: 1;
        }
      }
    }  
  }
}

// ------------------------------------------------------------------------------
// PAGE FOOTER
//
.footer{
  background-color: $light-grey;
  position: relative;
  z-index: 100;
  border-top:1px solid $grey;
  font-size:14px;
  margin-top:160px;
  @include clearfix;
  @if $is-print == false {
    p.credit{
      float:left;
      margin: 25px;
      width: 60%;
      @include media(desktop){
        margin: 146px 0 20px $margin;
      }
    }
  }
  a{
    color:#333;
    &.copyright{
      margin-top: 25px;
      margin-left: 25px;
      display: block;
      @include media(desktop){
        margin-left: 50px;
        float: left;
        padding-top:120px;
        margin-right: $margin;
        background:transparent url(/assets/images/rcoa-large.png) 0 0 no-repeat;   
      }
    }
  }
}
